<section class="w-100 d-flex flex-column align-items-center"
         style="border: 1px solid orangered"> 
          <div class="p-3" style="border: 1px solid orange; cursor: pointer;"
            (click)="action({to:'like', method:'post', action:'add'})"
          >
            likes:: {{(postLikes$ | async)?.length}}
          </div>
       <body class="w-100 p-4" style="min-width: 80vw">
           <!-- <app-body></app-body> -->
       </body>
     
       <main class="w-75 d-flex flex-column align-items-stretch justify-content-center"
             style="border: 1px solid gray;">
           <app-comments></app-comments>
       </main>
</section>